 factory/pipeline/Orch_end_to_end.json
{
	"name": "Orch_end_to_end",
	"properties": {
		"activities": [
			{
				"name": "S2C",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "S2C",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "C2P",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "S2C",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "C2P",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "P2S",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "C2P",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "P2S",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "P2S_Mail_Notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "P2S",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-84.eastus.logic.azure.com:443/workflows/1f8d7565a40d416cb419dcdbff4f4b13/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=4b6pjZGFLHlvC0EdNP7QP69T5JAR6z26CGD8JEwk6hY",
					"body": {
						"value": "{\n  \"pipelineName\": \"@{pipeline().Pipeline}\",\n  \"status\": \"@{activity('P2S').Status}\",\n  \"ActivityName\":\"S2C\"\n}\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "S2C_Mail_Notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "S2C",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-84.eastus.logic.azure.com:443/workflows/1f8d7565a40d416cb419dcdbff4f4b13/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=4b6pjZGFLHlvC0EdNP7QP69T5JAR6z26CGD8JEwk6hY",
					"body": {
						"value": "{\n  \"pipelineName\": \"@{pipeline().Pipeline}\",\n  \"status\": \"@{activity('S2C').Status}\",\n  \"ActivityName\":\"S2C\"\n}\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "C2P_Mail_Notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "C2P",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-84.eastus.logic.azure.com:443/workflows/1f8d7565a40d416cb419dcdbff4f4b13/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=4b6pjZGFLHlvC0EdNP7QP69T5JAR6z26CGD8JEwk6hY",
					"body": {
						"value": "{\n  \"pipelineName\": \"@{pipeline().Pipeline}\",\n  \"status\": \"@{activity('C2P').Status}\",\n  \"ActivityName\":\"C2P\"\n}\n\n",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-06-12T12:40:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}