 factory/pipeline/P2S.json
{
	"name": "P2S",
	"properties": {
		"activities": [
			{
				"name": "Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT tm.*\nFROM metadata.table_meta tm\ninner join metadata.Job_meta jm ON tm.JobID = jm.JobID\nWHERE \n jm.Job_Name = 'P2S' and Table_type='fact';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "source",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "4Each_File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Metadata').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "P2S",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "start_time",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": "*.*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "C2Psrc",
									"type": "DatasetReference",
									"parameters": {
										"Table_Names": {
											"value": "@item().Table_Names",
											"type": "Expression"
										},
										"container_name": {
											"value": "@pipeline().globalParameters.container",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sinkk",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "start_time",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/21691a0134@mits.ac.in/ETLdata",
								"baseParameters": {
									"JobID": {
										"value": "@string(item().JobID)\n",
										"type": "Expression"
									},
									"File_Names": {
										"value": "@item().Table_Names\n",
										"type": "Expression"
									},
									"process_name": "start_time",
									"pipeline_name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Databrickslink",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "end_time",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "P2S",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/21691a0134@mits.ac.in/ETLdata",
								"baseParameters": {
									"pipeline_name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"JobID": {
										"value": "@string(item().JobID)\n",
										"type": "Expression"
									},
									"process_name": "end_time",
									"File_Names": {
										"value": "@item().Table_Names",
										"type": "Expression"
									},
									"status": {
										"value": "@if(equals(activity('P2S').status, 'Succeeded'), 'success', 'failure')\n",
										"type": "Expression"
									},
									"start_time": {
										"value": "@activity('start_time').output.runOutput.result",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Databrickslink",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-06-12T05:20:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}