 factory/pipeline/S2C.json
{
	"name": "S2C",
	"properties": {
		"activities": [
			{
				"name": "Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT tm.*\nFROM metadata.table_meta tm\nJOIN metadata.Job_meta jm ON tm.JobID = jm.JobID\nWHERE  jm.Job_Name = 'S2C';\n\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "source",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "4_each_file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Metadata').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "s2l_data_load",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "start_time",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": "*.*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "copysource",
									"type": "DatasetReference",
									"parameters": {
										"File_Names": {
											"value": "@item().Table_Names",
											"type": "Expression"
										},
										"source_path": {
											"value": "@concat(item().source_path,'/',item().Table_Names)\n ",
											"type": "Expression"
										},
										"container_name": {
											"value": "@pipeline().globalParameters.container",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "copysink",
									"type": "DatasetReference",
									"parameters": {
										"File_Names": {
											"value": "@item().Table_Names",
											"type": "Expression"
										},
										"landing_path": {
											"value": "\n@concat('landing/', item().Table_Names)",
											"type": "Expression"
										},
										"container_name": {
											"value": "@pipeline().globalParameters.container",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "l2c_data_load",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "s2l_data_load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/21691a0134@mits.ac.in/ETLdata",
								"baseParameters": {
									"File_Names": {
										"value": "@item().Table_Names",
										"type": "Expression"
									},
									"landing_path": {
										"value": "@item().landing_path",
										"type": "Expression"
									},
									"curated_path": {
										"value": "@item().curated_path",
										"type": "Expression"
									},
									"process_name": "l2c",
									"Mode": "overwrite"
								}
							},
							"linkedServiceName": {
								"referenceName": "Databrickslink",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "start_time",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/21691a0134@mits.ac.in/ETLdata",
								"baseParameters": {
									"JobID": {
										"value": "@string(item().JobID)",
										"type": "Expression"
									},
									"File_Names": {
										"value": "@item().Table_Names\n",
										"type": "Expression"
									},
									"process_name": "start_time",
									"pipeline_name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Databrickslink",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "archive_on_success",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "l2c_data_load",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/21691a0134@mits.ac.in/ETLdata",
								"baseParameters": {
									"File_Names": {
										"value": "@item().Table_Names",
										"type": "Expression"
									},
									"landing_path": {
										"value": "@item().landing_path",
										"type": "Expression"
									},
									"process_name": "archive"
								}
							},
							"linkedServiceName": {
								"referenceName": "Databrickslink",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "end_time",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "archive_on_success",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/21691a0134@mits.ac.in/ETLdata",
								"baseParameters": {
									"pipeline_name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"JobID": {
										"value": "@string(item().JobID)\n",
										"type": "Expression"
									},
									"process_name": "end_time",
									"File_Names": {
										"value": "@item().Table_Names",
										"type": "Expression"
									},
									"status": {
										"value": "@if(equals(activity('archive_on_success').status, 'Succeeded'), 'success', 'failure')\n",
										"type": "Expression"
									},
									"start_time": {
										"value": "@activity('start_time').output.runOutput.result\n",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Databrickslink",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "archive_on_failure",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "s2l_data_load",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/21691a0134@mits.ac.in/ETLdata",
								"baseParameters": {
									"File_Names": {
										"value": "@item().Table_Names",
										"type": "Expression"
									},
									"landing_path": {
										"value": "@item().landing_path",
										"type": "Expression"
									},
									"process_name": "archive"
								}
							},
							"linkedServiceName": {
								"referenceName": "Databrickslink",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "end_time_S2L fail",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "archive_on_failure",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/21691a0134@mits.ac.in/ETLdata",
								"baseParameters": {
									"pipeline_name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"JobID": {
										"value": "@string(item().JobID)\n",
										"type": "Expression"
									},
									"process_name": "end_time",
									"File_Names": {
										"value": "@item().Table_Names",
										"type": "Expression"
									},
									"status": {
										"value": "@if(equals(activity('s2l_data_load').status, 'Succeeded'), 'success', 'failure')\n",
										"type": "Expression"
									},
									"start_time": {
										"value": "@activity('start_time').output.runOutput.result\n",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Databrickslink",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"status": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-06-12T11:55:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}